{% schema %}
  {
    "name": "Choose Us section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Choose Us"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
      },
      {
        "type": "image_picker",
        "id": "choose_us_image",
        "label": "Image"
      }
    ],
    "blocks": [
      {
        "type": "choose_block",
        "name": "Choose us block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "description",
            "label": "Description"
          },
          {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon"
          }
        ]
      }
      
    ],
    "presets": [
      {
        "name": "Choose Us section",
        "category": "Furni theme"
      }
    ]
  }
{% endschema %}

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">{{ section.settings.title }}</h2>
                <p>{{ section.settings.description }}</p>

                <div class="row my-5">
                    {% for block in section.blocks %}
                      {% if block.type == "choose_block" %}
                        <div class="col-6 col-md-6">
                            <div class="feature">
                                <div class="icon">
                                  <!-- <img src="images/truck.svg" alt="Image" class="imf-fluid"> -->
                                  {{ block.settings.icon | image_url: width:46 , height:46 | image_tag: class:"imf-fluid" }}
                                </div>
                                <h3>{{ block.settings.title }}</h3>
                                <p>{{ block.settings.description }}</p>
                            </div>
                        </div>
                      {% endif %}
                    {% endfor %}

                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Why Choose Us Section -->