{% schema %}
  {
    "name": "Furni Product Features",
    "settings": [
      {
        "id": "features_title",
        "type": "text",
        "label": "Furni Product Fetures",
        "default": "Product Features"
      },
      {
        "id": "features_description",
        "type": "richtext",
        "label": "Furni Fetures description",
      },
    ],
    "blocks": [
      {
        "type": "feature_button",
        "name": "Feature button",
        "settings": [
         {
           "type": "url",
           "id": "ft_link_url",
           "label": "Link URL"
         },
         {
           "type": "text",
           "id": "ft_link_text",
           "label": "Link Text"
         },
       ],
      },
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "id": "product_name",
            "type": "text",
            "label": "Product Name"
          },
          {
            "id": "product_price",
            "type": "number",
            "label": "Product Price"
          },
          {
            "id": "product_image",
            "type": "image_picker",
            "label": "Product Image"
          }
        ],
      }
    ],
    "presets": [
      {
        "name": "Furni Product Features Section",
        "category": "Product"
      }
    ]
  }
{% endschema %}

<!-- Start Product Section -->
  <div class="product-section">
    <div class="container">
      <div class="row">
        <!-- Start Column 1 -->
         <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
            <h2 class="mb-4 section-title">{{ section.settings.features_title }}</h2>
            <p class="mb-4">{{ section.settings.features_description }}</p>
            <p>
            {% for block in section.blocks %}
              {% if block.type == "feature_button" %}
                <a href="{{ block.settings.ft_link_url }}">{{ block.settings.ft_link_text }}</a>
              {% endif %}
            {% endfor %}
            </p>
          </div>
        <!-- End Column 1 -->
        {% for block in section.blocks %}
          {% if block.type == "product" %}
            <!-- Start Column -->
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
              <a class="product-item" href="cart.html">
                  <!-- <img src="images/product-1.png" class="img-fluid product-thumbnail"> -->
                  {% if block.settings.product_image %}
                    {{ block.settings.product_image | image_url: width: 261 | image_tag: class: 'img-fluid product-thumbnail' }}
                  {% endif %}
                  <h3 class="product-title">{{ block.settings.product_name }}</h3>
                  <strong class="product-price">{% if  block.settings.product_price %} ${{ block.settings.product_price }} {% endif %}</strong>

                  <span class="icon-cross">
                    <img src="{{ 'cross.svg' | asset_url }})" class="img-fluid">
                      <!-- <img src="assets/images/cross.svg" class="img-fluid"> -->
                  </span>
              </a>
            </div>
            <!-- End Column -->
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
